// Media Breakpoints
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$md: 40em; // hi-res tablets and low-res laptops
$sm: 20em; // mobile only

$primary: #36413c;
$secondary: #5e6e66;
$links: #de6c17;

// Breakpoints mixin
@mixin responsive($query) {
  @media ( min-width: $query ) {
      @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
}

html {
  // font-size: 62.5%;
  line-height: 1.45;
}

body {
  font-family: Quicksand;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "banner"
  "services"
  ;
  grid-gap: 0.2rem;
}

.banner {
  grid-area: banner;
  // background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 65%), url(assets/main-banner.png);
  background-image: url(assets/main-banner.png);
  background-size: cover;
}

.banner-wave {
  background: orangered;
  
}

.services {
  // background: #64ffda;
  grid-area: services;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr repeat(3, 1fr);
  grid-template-areas: 
  "services-heading"
  "service-1"
  "service-2"
  "service-3"
  ;
  grid-gap: 0.2rem;
}

.services-heading{
  // background: #6fffd2;
  grid-area: services-heading;  
  .services-title {
    font-size: 30px;
  }
  .services-subtitle {
    font-size: 20px;
  }
}

.service-1 {
  // background: #a7ffeb;
  grid-area: service-1;
}

.service-2 {
  // background: #84ffff;
  grid-area: service-2;
  
}

.service-3 {
  // background: #18ffff;
  grid-area: service-3;
  
}

.service-card {
  // background: #de6c17;
  border: 2px solid lightgrey;
  border-radius: 8px;
  max-width: 280px;
  overflow: hidden;
  justify-content: center;
  margin: 0.5rem 5rem 1rem 20rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.1fr;
  grid-template-areas: 
  "card-image"
  "card-detail"
  "card-link"
  ;
}

.card-image {
  grid-area: card-image;
  height: 15vh;
  width: 100%;
  margin: 0;
}

.card-detail{
  // background: #18ffff;
  grid-area: card-detail;
  width: 16rem;
  height: 13.5rem;
  margin-left: 1.2rem;
  
  .card-heading {
    font-size: 24px;
    margin: 0.1rem 0 0.5rem 0;
    color: $primary;
  }
  .card-text {
    font-size: 16px;
    margin: 0.1rem 1rem 0 0;
    color: $secondary;
  }
}

.card-link {
  grid-area: card-link;
  font-size: 18px;
  font-weight: 700;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  padding: 0;
  color: $links;
  text-decoration: none;
}

.card-link:after {
  content: " >";
}