*,
*::before,
*::after {
  margin: 0;
}

html {
  line-height: 1.45;
}

body {
  font-family: Quicksand;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
      grid-template-areas: "banner" "services";
  grid-gap: 0.2rem;
}

.banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(65%, rgba(0, 0, 0, 0.5))), url(assets/main-banner.png);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) 65%), url(assets/main-banner.png);
  background-size: cover;
  background-position: top center;
  height: 45vh;
  width: 100vw;
  padding-top: 2.5rem;
  position: relative;
}

.banner-title {
  grid-area: -title;
  font-size: 30px;
  font-weight: 700;
  color: #f2f2f2;
  margin-left: 2rem;
  margin-top: 3rem;
}

.banner-subtitle {
  margin-top: 0.6rem;
  font-size: 20px;
  font-weight: 500;
  width: 25ch;
  color: #f2f2f2;
  margin-left: 2rem;
}

.banner-link {
  margin-left: 2rem;
  margin-top: 1rem;
  padding-top: 10px;
  color: #f2f2f2;
  background-color: #de6c17;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 4px;
}

.banner-wave {
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
}

.services {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: services;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr (1fr)[3];
      grid-template-rows: 0.1fr repeat(3, 1fr);
      grid-template-areas: "services-heading" "service-1" "service-2" "service-3";
  grid-gap: 0.2rem;
}

.services-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: services-heading;
  margin-top: 0;
}

.services-heading .services-title {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.services-heading .services-subtitle {
  font-size: 20px;
}

.service-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: service-1;
}

.service-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: service-2;
}

.service-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: service-3;
}

.service-card {
  border: 2px solid lightgrey;
  border-radius: 8px;
  max-width: 280px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 1rem 1rem 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.5fr 0.1fr;
      grid-template-rows: 1fr 0.5fr 0.1fr;
      grid-template-areas: "card-image" "card-detail" "card-link";
}

.card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-image;
  width: 100%;
  margin: 0;
}

.card-detail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card-detail;
  width: 16rem;
  height: 13.5rem;
  margin-left: 1.2rem;
}

.card-detail .card-heading {
  font-size: 24px;
  margin: 0.1rem 0 0.5rem 0;
  color: #36413c;
}

.card-detail .card-text {
  font-size: 16px;
  margin: 0.1rem 1rem 0 0;
  color: #5e6e66;
}

.card-link {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-link;
  font-size: 18px;
  font-weight: 700;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  padding: 0;
  color: #de6c17;
  text-decoration: none;
}

.card-link:after {
  content: " >";
}
/*# sourceMappingURL=styles.css.map */